<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <title>Log In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- App favicon -->
<!--    <link rel="shortcut icon" th:href="@{/dist/images/tutwuri.png}">-->

    <!-- App css -->

    <link th:href="@{/dist/css/app.min.css}" rel="stylesheet" type="text/css" id="app-style"/>

    <!-- icons -->
    <link th:href="@{/dist/css/icons.min.css}" rel="stylesheet" type="text/css"/>

</head>

<body class="loading authentication-bg authentication-bg-pattern">

<div class="container" style="margin-bottom: 4.5rem!important;">

    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-4">
            <div class="text-center">
<!--                <img th:src="@{/dist/images/tutwuri.png}" alt="" height="70">-->
                <h5>Penilaian Karyawan</h5>
                <p class="mt-2 mb-4"></p>
            </div>
            <div class="card">

                <div class="card-body p-4">

                    <div class="text-center mb-4">
                        <h4 class="text-uppercase mt-0 mb-3">Reset Password</h4>
                        <p class="text-muted mb-0 font-13">Penyedia sudah terdaftar pada Aplikasi SiKAP LKPP.  </p>
                    </div>

                    <form  th:action="@{/user/resetpassword}" method="post" autocomplete="off" id="form-i">
                        <input class="form-control" type="hidden" name="token" th:value="${token}">

                        <div class="mb-3">
                            <label for="emailAddress" class="form-label">Email Address</label>
                            <input class="form-control" disabled  id="emailAddress" type="email" th:value="${user.getEmail()}">
                            <input class="form-control" type="hidden" name="username" th:value="${user.getEmail()}">
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>

                        <div class="mb-3">
                            <label for="passwordKonfirmasi" class="form-label">Ulangi Password</label>
                            <input type="password" class="form-control" id="passwordKonfirmasi" name="konfirmasiPassword">
                        </div>

                        <div class="mb-3">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="checkbox-signin" checked>
                                <label class="form-check-label" for="checkbox-signin">Saya menyetujui syarat dan ketentuan yang berlaku, serta bersedia menyimpan, memperbarui, dan membagi data penyedia dari SIKAP ke Layanan Informasi Penyedia Barang/Jasa Satuan Pendidikan</label>
                            </div>
                        </div>

                        <div class="mb-3 text-center d-grid">
                            <button class="btn btn-primary" type="submit"> Simpan </button>
                        </div>

                    </form>

                </div> <!-- end card-body -->
            </div>
            <!-- end card -->

        </div> <!-- end col -->
    </div>
    <!-- end row -->
</div>
<!-- end container -->

<!-- Vendor -->
<script th:src="@{/dist/libs/jquery/jquery.min.js}"></script>
<script th:src="@{/dist/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/dist/libs/simplebar/simplebar.min.js}"></script>
<script th:src="@{/dist/libs/node-waves/waves.min.js}"></script>
<script th:src="@{/dist/libs/waypoints/lib/jquery.waypoints.min.js}"></script>
<script th:src="@{/dist/libs/jquery.counterup/jquery.counterup.min.js}"></script>
<script th:src="@{/dist/libs/feather-icons/feather.min.js}"></script>
<script th:src="@{/dist/libs/jquery-validation-1.19.1/dist/jquery.validate.min.js}" type="text/javascript"></script>
<script th:src="@{/dist/libs/jquery-validation-1.19.1/dist/additional-methods.js}" type="text/javascript"></script>
<!-- App js -->
<script th:src="@{/dist/js/app.min.js}"></script>


<script type="text/javascript" th:inline="javascript">

    $.validator.addMethod("strongPassword", function (value, element) {
            //Panjang minimal 8 karakter, maksimal 50 karakter, dengan minimal 1 huruf besar, 1 huruf kecil, 1 angka, dan 1 karakter spesial
            const regex = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[#$^+=!*()@%&]).{8,50}$");
            console.log("hasil " + value + ": " + regex.test(value));
            return regex.test(value);
        }, "Password harus minimal terdiri dari 8 character dan mengandung huruf besar, huruf kecil, angka dan karakter spesial(misal: !@#$%^&*).");

        $( document ).ready( function () {
            $( "#form-i" ).validate( {
                rules: {
                     password: {
                        required: true,
                        minlength: 8,
                        strongPassword: true,
                    },
                     konfirmasiPassword: {
                        required: true,
                        equalTo: "#password"
                    },
                },
                messages: {

                },
                errorElement: "em",
                errorPlacement: function ( error, element ) {
                    // Add the `invalid-feedback` class to the error element
                    error.addClass( "invalid-feedback" );

                    if ( element.prop( "type" ) === "checkbox" ) {
                        error.insertAfter( element.next( "label" ) );
                    } else {
                        error.insertAfter( element );
                    }
                },
                highlight: function ( element, errorClass, validClass ) {
                    $( element ).addClass( "is-invalid" ).removeClass( "is-valid" );
                },
                unhighlight: function (element, errorClass, validClass) {
                    $( element ).addClass( "is-valid" ).removeClass( "is-invalid" );
                }
            } );
        });
</script>

</body>
</html>